### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Maven ###
target/
allure-results/
allure-report/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Logs ###
*.log

### Compiled class files ###
*.class

### Temp/Backup files ###
*.tmp
*.bak

### Other unintentionally added files ###
h
*.tash apply